
/**************************************************************************
                            Main Index.html 
**************************************************************************/

.bg-2-color{
    background-image: linear-gradient(to right, #43cea2, #185a9d);
}

/**************************************************************************
                                About.index
**************************************************************************/

.about-div{
    text-align: center;
    margin: 5vw auto;
    width: 60%;
}

.profile i{
    background-image: linear-gradient(to right, #43cea2, #185a9d);
    padding: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    font-size: 100px;
}
.about-div h2{
    color: black;
    margin: 2vw 0;
}

.about-div p{
    text-align: justify;
}

/**************************************************************************
                                Assignments # 2
**************************************************************************/

/* form.html */

.main-container{

    font-family: 'Calibri';
    text-align: center;
}

.first-container{
    text-align: center;
}
.first-container>h1{
    color: blueviolet;
    text-decoration: underline;
}

form>table{
    height: 800px;
    border: 2px solid black;
    text-align: left;
    background-color: blueviolet;
    color: white;
}

table table{
    text-align: left;
}

/* submit.html */
.container{
    text-align: center;
    margin-top: 10%;
    font-family: 'Times New Roman';
}

.container h1{
    color: green;
}

.container h2, h2{
    color: purple;
}

.container img{
    width: 180px;
    height: 180px;
}