
/* index.html */

.main-container{

    width: 850px;
    font-family: 'Calibri';
    margin-top: 2%;
    margin-left: 17%;
}

.first-container{
    text-align: center;
}
.first-container>h1{
    color: blueviolet;
    text-decoration: underline;
}

.form-container{
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
    padding: 5px;
}

form>table{
    height: 800px;
}

table table{
    text-align: center;
}


/* submit.html */
.container{
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    width: 500px;
    font-family: 'Times New Roman';
}

.container h1{
    color: green;
}

.container h2, h2{
    color: purple;
}

.container img{
    width: 180px;
    height: 180px;
}